
PINECONE_API_KEY=xxx
PINECONE_INDEX_NAME=kamka

CLOUDINARY_CLOUD_NAME=dtoqupjec
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx

MONGODB_URI=mongodb+srv://fouratmarouen0_db_user:xxx@kamka.c6aq20e.mongodb.net/

MONGODB_DB_NAME=kamka

OPENROUTER_API_KEY=sxxx
OPENROUTER_MODEL=nvidia/nemotron-3-nano-30b-a3b:free

HF_TOKEN=xxx

LANGSMITH_API_KEY=xxx
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=RAG KAMKA


TRANSFORMERS_OFFLINE=1
HF_DATASETS_OFFLINE=1

COHERE_API_KEY=xxx